{% if page.author %}
  {% assign author_counts = page.author | split:  ", " | size %} 
  {% assign authors_list = page.author | split:  ", " %} 
	<div>
		<span style="color:darkslategrey;display:flex">
		{% if author_counts == 1 %}
			<i>Автор:&nbsp; </i>
		{% else %}
			<i>Авторы:&nbsp; </i>
		{% endif %}

		{% assign bound = author_counts | minus:1 %}
			{% for i in (0..author_counts) %}
    			{% assign ath = authors_list[i] %}
    			{% if site.data.authors[ath] %}
					<i> {{site.data.authors[ath].name}} </i>
					{% if site.data.authors[ath].tg %}
						<a href={{ "https://t.me/" | append: site.data.authors[ath].tg }}>
						<img class="icon" src="../../assets/tg.png" alt="Contact author via telegram">
						</a>  
					{% endif %}
					{% if site.data.authors[ath].mail %}
					&nbsp;
					<a href={{ "mailto:" | append: site.data.authors[ath].mail }}>
						<img class="icon" src="../../assets/mail.png" alt="Contact author via mail">
					</a>  
					{% endif %}
					{% if site.data.authors[ath].linkedIn %}
					&nbsp;
					<a href={{ "https://www.linkedin.com/in/" | append: site.data.authors[ath].linkedIn }}>
						<img class="icon" src="../../assets/linkedIn.png" alt="Contact author via LinkedIn">
					</a>  
					{% endif %}
					{% if i < bound %}
						<i>, &nbsp; </i>
					{% endif %}
				{% endif %}
			{% endfor %}
		</span>
	</div>
{% endif %}