<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <script>{% include highlight_active_nav_item.js %}</script>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{{ '/' | absolute_url }}" style="font-weight:bold"> К содержанию </a>
     
    {% include toc.html html=content class='my-class' submenu_class='closed' anchor_class='sidebar-nav-item' h_min=1 h_max=2 %}

  </nav>
</div>
